In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as plticker
%matplotlib inline

In [2]:
data = pd.read_csv('/Users/logno/Documents/GitHub/tech-sales-analysis/Sales_Data/featured_data.csv')
df = data.copy()
df.head()

,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Order_Month,Order_Hour,Order_Day,Sale_Value,Buyer_State,Buyer_City,Product_Simplified,Product_Brand_Simplified
0,Macbook Pro Laptop,1.0,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,0,30,1700.00,NY,New York City,Computer,Apple
1,LG Washing Machine,1.0,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,7,29,600.00,NY,New York City,NaN,LG
2,USB-C Charging Cable,1.0,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,18,12,11.95,NY,New York City,Cable,NaN
3,27in FHD Monitor,1.0,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,15,22,149.99,CA,San Francisco,Monitor,NaN
4,USB-C Charging Cable,1.0,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,12,18,11.95,GA,Atlanta,Cable,NaN